<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gogoflyapp.gogofly">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.SetupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.FlightsOverviewActivity"
            android:label="@string/title_activity_flight_overview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.FlightViewActivity"
            android:label="@string/title_activity_flight_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.BuyFlightActivity"
            android:label="@string/title_activity_buy_flight"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TicketActivity"
            android:label="@string/title_activity_ticket"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Activities.GoGoFlyActivity" />
        <activity android:name=".Activities.UserAccountActivity"></activity>
    </application>

</manifest>